{% if RANGER_RELATION == true %}

access-control.name=ranger
access-control.config-files={{ TRINO_HOME }}/file-view-only.properties,{{ TRINO_HOME }}/file-ranger.properties

{% else %}

access-control.name=file
access-control.config-files={{ TRINO_HOME }}/file-rules.properties

{% endif %}
