{% if RANGER_RELATION == true %}

access-control.config-files={{ TRINO_HOME }}/file-view-only.properties,{{ TRINO_HOME }}/file-ranger.properties

{% else %}

access-control.name=file
security.config-file={{ TRINO_HOME }}/rules.json,{{ TRINO_HOME }}/view-only-rules.json

{% endif %}
