coordinator=true
discovery.uri=http://localhost:8080
http-server.http.port=8080
node.internal-address-source=FQDN
node-scheduler.include-coordinator=true
internal-communication.shared-secret={{ INT_COMMS_SECRET | default("changeme")}}

{% if K8S_TLS_CERT_NAME | default('not-provided') !='not-provided' and  OAUTH_CLIENT_ID | default('not-provided') !='not-provided' and  OAUTH_CLIENT_SECRET | default('not-provided') !='not-provided' %}
http-server.https.enabled=true
http-server.https.port=8443
http-server.https.keystore.path={{ K8S_TLS_CERT_NAME | default("not provided")}}

http-server.authentication.type=oauth2
web-ui.authentication.type=oauth2
http-server.authentication.oauth2.user-mapping.pattern=(.*)@.*
http-server.authentication.oauth2.issuer=https://accounts.google.com
http-server.authentication.oauth2.principal-field=email
http-server.authentication.oauth2.scopes=https://www.googleapis.com/auth/userinfo.email,https://www.googleapis.com/auth/userinfo.profile,openid
http-server.authentication.oauth2.client-id={{ OAUTH_CLIENT_ID | default("none")}}
http-server.authentication.oauth2.client-secret={{ OAUTH_CLIENT_SECRET | default("none")}}

{% else %}
http-server.https.enabled=false
{% endif%}