-server
-Xmx{{ XMX_SIZE }}
-XX:InitialRAMPercentage={{ INITIAL_RAM_PERCENTAGE }}
-XX:MaxRAMPercentage={{ MAX_RAM_PERCENTAGE }}
-XX:G1HeapRegionSize={{ HEAP_REGION_SIZE }}
-XX:ReservedCodeCacheSize={{ RESERVED_CACHE_SIZE }}
-XX:GCLockerRetryAllocationCount={{ RETRY_ALLOCATION_COUNT }}
# Additional JVM options
{%- if ADDITIONAL_JVM_OPTIONS -%}
{% set jvm_options = ADDITIONAL_JVM_OPTIONS.split(" ") %}
{% for option in jvm_options -%}
{{ option }}
{% endfor -%}
{% endif %}
# Default Java truststore
-Djavax.net.ssl.trustStorePassword={{ JAVA_TRUSTSTORE_PWD }}
# jmx
-Dcom.sun.management.jmxremote
-Dcom.sun.management.jmxremote.port=9081
-Dcom.sun.management.jmxremote.rmi.port=9081
-Dcom.sun.management.jmxremote.local.only=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Djava.rmi.server.hostname=127.0.0.1
# prometheus jmx exporter
-javaagent:/usr/lib/trino/lib/jmx_prometheus_javaagent.jar=9090:/usr/lib/trino/etc/trino/jmx/config.yaml

