{
    "catalogs": [
        {
            "user": "{{ ACL_USER_PATTERN }}",
            "catalog": "{{ ACL_CATALOG_PATTERN }}",
            "allow": "{{ ACL_ACCESS_MODE }}"
        }
    ],
    "queries": [
        { "role": "admin", "allow": ["execute", "view", "kill"] },
        { "allow": ["execute", "view"] }
    ]
}
